<!DOCTYPE html>
    <html lang="en">
<head>
    {% load static %}
    {% include 'css.html' %}
    {% block 'css' %}
    {% endblock %}

    <style>
        .msg_success {
            text-align: center;
            width: 80%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: max-content;
            font-weight: 600;
        }
    </style>
</head>

    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Topbar Start -->
            {% include 'toolbar.html' %}
            {% block toolbar %}
            {% endblock %}
            <!-- end Topbar -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page" style="margin-left:0 !important;">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Profile</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-4 col-xl-4">
                                <div class="text-center card-box">
                                    <div class="pt-2 pb-2">
                                        <img src="/static/images/users/user-3.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                                        <h4 class="mt-3"><a href="javascript:" class="text-dark text-uppercase business_name">{{ business_name }}</a></h4>
                                        <p class="text-muted">Owner <span> | </span> <span class="text-pink owner_name"> {{ owner_name }} </span></p>
                                        <p class="text-muted">Ref. ID <span> | </span> <span class="text-pink rfid">{{ owner_id }}</span></p>

                                        <div class="row mt-4s">
                                            <div class="col-6">
                                                <div class="mt-3s">
                                                    <p class="mb-0 text-pink text-truncate business_type"> {{ business_type }} </p>
                                                    <p class="mb-0 text-muted text-truncate">Type</p>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mt-3s">
                                                    <p class="mb-0 text-pink text-truncate total_products"> {{ total_products }} </p>
                                                    <p class="mb-0 text-muted text-truncate">Products</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row-->
                                        <p class="font-14 text-center text-muted mt-3 about_company">
                                            {{ about }}
                                        </p>
                                        <button type="button" class="open-store btn btn-primary btn-sm waves-effect waves-light">View Store</button>
                                    </div> <!-- end .padding -->
                                </div> <!-- end card-box-->

                            </div> <!-- end col-->

                            <div class="col-lg-8 col-xl-8">
                                <div class="card-box">
                                    <ul class="nav nav-pills navtab-bg nav-justified">
                                        <li class="nav-item">
                                            <a href="#products" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                                Products
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#addproducts" data-toggle="tab" aria-expanded="true" class="nav-link">
                                                Add Products
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                Profile Settings
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="products">
                                            <div class="row d-none">
                                                <div class="col-12">
                                                    <div class="card-box">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <form class="form-inline">
                                                                    <div class="form-group d-none">
                                                                        <label for="inputPassword2" class="sr-only">Search</label>
                                                                        <input type="search" class="form-control" id="inputPassword2"
                                                                            placeholder="Search...">
                                                                    </div>
                                                                    <div class="form-group mx-sm-3">
                                                                        <label for="status-select" class="mr-2">Sort By</label>
                                                                        <select class="custom-select" id="status-select">
                                                                            <option selected="">All</option>
                                                                            <option value="1">Popular</option>
                                                                            <option value="2">Price Low</option>
                                                                            <option value="3">Price High</option>
                                                                            <option value="4">Sold Out</option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div> <!-- end row -->
                                                    </div> <!-- end card-box -->
                                                </div> <!-- end col-->
                                            </div>
                                            <!-- end row-->
                                    
                                            <div class="row">
                                                {% for product in products %}
                                                <div class="col-md-6 col-xl-4">
                                                    <div class="card-box product-box">
                                                        <div class="product-action" if="company" p_id="{{ product.product_id }}">
                                                            <a href="#product-edit" class="edit btn btn-success btn-xs waves-effect waves-light" data-animation="blur" data-plugin="custommodal" data-overlayColor="#38414a"><i class="mdi mdi-pencil"></i></a>
                                                            <a href="javascript:" class="remove btn btn-danger btn-xs waves-effect waves-light"><i class="mdi mdi-close"></i></a>
                                                        </div>
                                                        <div style="position: relative; cursor: pointer;">
                                                            <span title="Save {{ product.product_name }}" data-plugin="tippy" data-tippy-size="small" style="position: absolute; top: 5px; z-index: 1; right: 5px;font-size:16px;">
                                                                <i class="mdi mdi-heart-outline text-danger font-24"></i>
                                                            </span>
                                                            <span style="position: absolute;z-index: 99;background-color: transparent;" class="product-price-tag"><i class="mdi mdi-currency-inr"></i>{{ product.price }}</span>
                                                            <div class="waves-effect product-view" href="#custom-modal" data-animation="blur" data-plugin="custommodal" data-overlayColor="#38414a">
                                                                <div class="d-none p_details" price="{{ product.price }}" name="{{ product.product_name }}" desc="{{ product.product_desc }}" pid="{{ product.product_id }}"></div>
                                                                <img src="/static/images/products/product-1.jpg" alt="product-pic" class="img-fluid" />
                                                            </div>
                                                            <span style="position: absolute; bottom: 5px; z-index: 99; right: 5px;font-size:16px;">{{ product.product_name }}</span>
                                                        </div>
                                                    </div> <!-- end card-box -->
                                                </div> <!-- end col -->
                                                {% endfor %}
                                            </div>
                                            <!-- end row-->
                                    
                                        </div> <!-- end tab-pane -->
                                        <!-- end about me section content -->
                                    
                                        <div class="tab-pane show" id="addproducts">
                                            <div class="row">
                                                <form class="col-12">
                                                    {% csrf_token %}
                                                    <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Product Details</h5>
                                                    <div class="row">
                                                        <div class="form-group col-4 mb-3">
                                                            <label for="product-name">Product Name <span class="text-danger">*</span></label>
                                                            <input type="text" id="product-name" class="form-control" placeholder="Enter name">
                                                        </div>
                                                        <div class="form-group col-4 mb-3 d-none">
                                                            <label for="product-category">Categories <span class="text-danger">*</span></label>
                                                            <select class="form-control select2" id="product-category">
                                                                <option>Select</option>
                                                                <optgroup label="Category 01">
                                                                    <option value="SH1" selected>Item 1</option>
                                                                    <option value="SH2">Item 2</option>
                                                                    <option value="SH3">Item 3</option>
                                                                    <option value="SH4">Item 4</option>
                                                                </optgroup>
                                                                <optgroup label="Category 02">
                                                                    <option value="CRM1">Item 1</option>
                                                                    <option value="CRM2">Item 2</option>
                                                                    <option value="CRM3">Item 3</option>
                                                                    <option value="CRM4">Item 4</option>
                                                                </optgroup>
                                                                <optgroup label="Category 03">
                                                                    <option value="E1">Item 1</option>
                                                                    <option value="E2">Item 2</option>
                                                                    <option value="E3">Item 3</option>
                                                                    <option value="E4">Item 4</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-4 mb-3">
                                                            <label for="product-price">Price <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" id="product-price" placeholder="Enter amount">
                                                        </div>
                                                    </div>
                                    
                                                    <div class="form-group mb-3">
                                                        <label for="product-description">Product Description <span class="text-danger">*</span></label>
                                                        <textarea class="form-control" id="product-description" rows="5"
                                                            placeholder="Please enter description"></textarea>
                                                    </div>
                                                </form>
                                                <div class="col-12 text-right" style="position: relative;">
                                                    <p class="msg_success product-msg text-success"></p>
                                                    <button type="button" class="add-product btn btn-success waves-effect waves-light mt-2"><i
                                                            class="mdi mdi-plus"></i> Add</button>
                                                </div>
                                                <div class="col-6 d-none">
                                                    <style>
                                                        .product_images {
                                                            width: 100%;
                                                            height: 220px;
                                                            padding: 0.5em;
                                                            overflow: hidden;
                                                            overflow-y: auto;
                                                        }
                                                        
                                                        .product_images img {
                                                            border-radius: 6px;
                                                            border: solid 1px transparent;
                                                            margin: 0.2em;
                                                            width: 100px;
                                                            position: unset;
                                                            padding: 0;
                                                            transition: all ease-in-out 0.2s;
                                                        }
                                                        .product_images img:hover,
                                                        .product_images .img.active img {
                                                            border: solid 1px #06d;
                                                        }
                                                    </style>
                                                    <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Product Images</h5>
                                                    <label for="product-description">Product Image <span class="text-danger">*</span></label>
                                                    <div class="product_images row">
                                                        <div class="img">
                                                            <img class="img-responsive" src='/static/images/products/product-1.jpg' />
                                                        </div>
                                                        <div class="img">
                                                            <img class="img-responsive" src='/static/images/products/product-1.jpg' />
                                                        </div>
                                                        <div class="img">
                                                            <img class="img-responsive" src='/static/images/products/product-1.jpg' />
                                                        </div>
                                                        <div class="img">
                                                            <img class="img-responsive" src='/static/images/products/product-1.jpg' />
                                                        </div>
                                                        <div class="img">
                                                            <img class="img-responsive" src='/static/images/products/product-1.jpg' />
                                                        </div>
                                                        <div class="img">
                                                            <img class="img-responsive" src='/static/images/products/product-1.jpg' />
                                                        </div>
                                                        <div class="img">
                                                            <img class="img-responsive" src='/static/images/products/product-1.jpg' />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end timeline content-->
                                    
                                        <div class="tab-pane" id="settings">
                                            <form class="row">
                                                {% csrf_token %}
                                                <div class="col-6 personal-info">
                                                    <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Personal Info</h5>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="fullname">Full Name</label>
                                                                <input type="text" class="form-control" id="fullname" placeholder="Enter full name" value="{{ owner_name }}">
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="mobile">Mobile</label>
                                                                <input type="text" class="form-control" id="mobile" placeholder="Enter mobile" value="{{ mobile }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="password">Password</label>
                                                                <input type="password" class="form-control" id="password" placeholder="Enter password" value="{{ password }}">
                                                            </div>
                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </div>
                                                <div class="col-6 company-info">
                                                    <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-office-building mr-1"></i> Company Info</h5>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="companyname">Company Name</label>
                                                                <input type="text" class="form-control" id="companyname" placeholder="Enter company name" value="{{ business_name }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="type">Type</label>
                                                                <input type="text" class="form-control" id="type" placeholder="Enter type" value="{{ business_type }}">
                                                            </div>
                                                        </div> <!-- end col -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="address">Address</label>
                                                                <input type="text" class="form-control" id="address" placeholder="Enter address" value="{{business_address}}">
                                                            </div>
                                                        </div> <!-- end col -->

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="about_company">About Company</label>
                                                                <input type="text" class="form-control" id="about_company" rows="4" placeholder="Write something..." value="{{ about }}" />
                                                            </div>
                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </div>
                                            </form>
                                            <div class="text-right" style="position:relative;">
                                                <p class="msg_success profile-msg text-success"></p>
                                                <button type="button" class="profile-update btn btn-success waves-effect waves-light mt-2"><i
                                                        class="mdi mdi-content-save"></i> Save</button>
                                            </div>
                                        </div>
                                        <!-- end settings content-->
                                    </div> <!-- end tab-content -->
                                </div> <!-- end card-box-->

                            </div> <!-- end col -->
                        </div>
                        <!-- end row-->

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer footer-alt">
                    &copy; <a href="javascript:" class="text-black-50">{{ appName }}</a> 2020
                </footer>
            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- Custom Modal -->
        <div id="custom-modal" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.modal.close();">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title">Product Details</h4>
            <div class="custom-modal-text">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="tab-content pt-0">
                            <div class="tab-pane active show" id="product-1-item">
                                <img src="/static/images/products/product-1.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                            </div>
                        </div>

                    </div> <!-- end col -->
                    <div class="col-xl-7">
                        <div class="pl-xl-3 mt-3 mt-xl-0 product-show">
                            <a href="javascript:" class="text-primary product-id">{{ product_id }}</a>
                            <h4 class="mb-3 product-name">{{ product_name }}</h4>
                            
                            <h4 class="mb-4">Price : <b class="product-price">{{ product_price }}</b></h4>
                            <p class="text-muted mb-4 product-desc">{{ product_desc }}</p>

                            <div class="d-none">
                                <button type="button" class="btn btn-danger waves-effect waves-light">
                                    <span class="btn-label"><i class="mdi mdi-heart-outline"></i></span>Add to wishlist
                                </button>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>

        <!-- Custom Modal -->
        <div id="product-edit" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.modal.close();">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title">Product Edit <span href="javascript:" class="text-primary product-id">{{ product_id }}</span></h4>
            <div class="custom-modal-text">
                <div class="row">
                    <div class="col-xl-5">
                        <img src="/static/images/products/product-1.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                    </div> <!-- end col -->
                    <div class="col-xl-7">
                        <div class="pl-xl-3 mt-3 mt-xl-0 product-show container">
                            <div class="row">
                                <div class="form-group col-6 mb-6">
                                    <label for="product_name">Product Name <span class="text-danger">*</span></label>
                                    <input type="text" id="product_name" class="form-control" placeholder="Enter name">
                                </div>
                                <div class="form-group col-6 mb-6">
                                    <label for="product_price">Price <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="product_price" placeholder="Enter amount">
                                </div>
                            </div>
            
                            <div class="form-group mb-3">
                                <label for="product_description">Product Description <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="product_description" rows="2"
                                    placeholder="Please enter description"></textarea>
                            </div>

                            <div class="text-right position-relative">
                                <p class="msg_success product-msg text-success text-left"></p>
                                <button type="button" class="product-update btn btn-primary waves-effect waves-light">
                                    <span class="btn-label"><i class="mdi mdi-content-save-edit"></i></span>Save
                                </button>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>

        {% include 'js.html' %}
        {% block 'js' %}
        {% endblock %}

        <script>
            $(document).ready(function(){
                $('.profile-update').click(function(){
                    updateProfile()
                });
                $('.open-store').click(function(){
                    $("a[href='#addproducts']").click();
                });
                function updateProfile(){
                    $.ajax({
                        type: 'POST',
                        url: '/profile_update/',
                        data: {
                            role: 'seller',
                            id: $('.rfid').text(),
                            fullname: $('.personal-info #fullname').val(),
                            mobile: $('.personal-info #mobile').val(),
                            password: $('.personal-info #password').val(),
                            company_name: $('.company-info #companyname').val(),
                            company_type: $('.company-info #type').val(),
                            company_address: $('.company-info #address').val(),
                            company_about: $('.company-info #about_company').val(),
                            csrfmiddlewaretoken: $('#settings input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function (msg) {
                            //alert(msg)
                            if (msg.code == 107){
                                $('.profile-msg').text(msg.msg)
                                $('.business_name').text(msg.data['company'])
                                $('.business_type').text(msg.data['type'])
                                $('.about_company').text(msg.data['about'])
                                $('.total_products').text(msg.data['total_products'])
                                $('.owner_name').text(msg.data['fullname'])
                            }
                        },
                        error: function (xhr, errmsg, err) {
                            // add the error to the dom
                            alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                    });
                }
                
                $('.add-product').click(function(){
                    var data = {
                            id: $('.rfid').text(),
                            product_name: $('#product-name').val(),
                            category: $('#product-category').val(),
                            price: $('#product-price').val(),
                            product_desc: $('#product-description').val(),
                            mode: 'save',
                            csrfmiddlewaretoken: $('#addproducts input[name=csrfmiddlewaretoken]').val()
                        }
                    addProduct(data)
                });
                $('.remove').click(function(){
                    var id = $(this).parent().attr('p_id')
                    delProduct(id)
                });
                
                $('.product-view').click(function(){
                    var id = $(this).find('.p_details').attr('pid'),
                        name = $(this).find('.p_details').attr('name'),
                        price = $(this).parents('.product-box').find('.product-price-tag').html(),
                        desc = $(this).find('.p_details').attr('desc');

                    $('.product-show').ready(function(){
                        $(this).find('.product-id').text(`ID: #${id}`)
                        $(this).find('.product-name').text(name)
                        $(this).find('.product-price').html(price)
                        $(this).find('.product-desc').text(desc)
                    });
                });
                $('.product-update').click(function(){
                    var data = {
                            id: $('.rfid').text(),
                            product_id: $(this).attr('pid'),
                            product_name: $('#product_name').val(),
                            category: $('#product_category').val(),
                            price: $('#product_price').val(),
                            product_desc: $('#product_description').val(),
                            mode: 'update',
                            csrfmiddlewaretoken: $('#addproducts input[name=csrfmiddlewaretoken]').val()
                        }
                    addProduct(data)
                });
                $('.edit').click(function(){
                    var id = $(this).parents('.product-box').find('.p_details').attr('pid'),
                        name = $(this).parents('.product-box').find('.p_details').attr('name'),
                        price = $(this).parents('.product-box').find('.p_details').attr('price'),
                        desc = $(this).parents('.product-box').find('.p_details').attr('desc');
                    
                    $('.product-show').ready(function(){
                        $(this).find('.product-id').text(`ID: #${id}`)
                        $(this).find('#product_name').val(name)
                        $(this).find('#product_price').val(price)
                        $(this).find('#product_description').val(desc)
                        $(this).find('.product-update').attr('pid', id)
                    });
                });

                function delProduct(p_id){
                    $.ajax({
                        type: 'POST',
                        url: '/remove_product/',
                        data: {
                            id: $('.rfid').text(),
                            product_id: p_id,
                            csrfmiddlewaretoken: $('#addproducts input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function (msg) {
                            if (msg.code == 109){
                                $('.product-msg').text(msg.msg)
                                $('.total_products').text(msg.total_products)
                                window.location.reload()
                            }
                        },
                        error: function (xhr, errmsg, err) {
                            // add the error to the dom
                            alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                    });
                }
                
                function addProduct(data){
                    $.ajax({
                        type: 'POST',
                        url: '/add_product/',
                        data: data,
                        success: function (msg) {
                            if (msg.code == 108 || msg.code == 113){
                                $('.product-msg').text(msg.msg)
                                $('.total_products').text(msg.total_products)
                                window.location.reload()
                            }
                        },
                        error: function (xhr, errmsg, err) {
                            // add the error to the dom
                            alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                    });
                }

            })
        </script>
    </body>
</html>